
<div class='card'>
  <div class='card-header'>  
    {{title}}
  </div>
  <div class="card-body"><br />

    <input class="form-control col-sm-2 tickerInputBox" type="text" placeholder="Ticker Symbol" autofocus/>
    <button type="button" class="btn btn-primary expirationDatesButton" (click)="showHideExpirations()">Get Expiration Dates</button>

    <br/>

    <select (change)="onTimeChange($event.target.value)" class="form-control col-sm-2 expirationsDropDownBox" name="timeframe" id="expirationsDropDownBox">
      <option id="{{timeframes[timeframe.id].id}}" value="{{timeframes[timeframe.id].timeframe}}" selected="{{timeframes[timeframe.id].selected}}" *ngFor="let timeframe of timeframes">{{timeframes[timeframe.id].label}}</option>
    </select>

    <button type="button" id="optionsChainButton" class="btn btn-primary optionsChainButton" (click)="onGetOptionsData()">Get Options Chain</button>

  </div>
</div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
